.headerName {
  font-family: Alex;
  font-weight: 600;
  /* font-size: 2.5rem; */
  /* margin-bottom: 20px; */
  margin: 30px;
  padding: 50px;
  border-bottom: #333 solid 2px;
}
.add-todo-form {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}
input {
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  border-radius: 8px;
}
.add-btn {
  padding: 10px 20px;
  /* margin-top: 20px; */
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
.add-btn:hover {
  background-color: #45a049;
}
.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
}
.nav-links button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
}

.nav-links .active {
  background-color: #4caf50;
  color: white;
}
