.todo-item {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  padding: 30px;
  border: white solid 1px;

  border-radius: 8px;
  width: 80%;
  margin: 10px auto;
  /* border-bottom: 1px solid #ccc; */
  gap: 5px; /* بدل space-evenly */
  transition: all 0.3s ease-in-out; /* لإضافة تأثير عند التغيير */
}
.TodoTitle.completedTask {
  /* background-color: #4caf50; */
  color: white;
  text-decoration: line-through;
}

.todo-item:hover {
  background-color: #f9f9f9; /* تأثير عند المرور */
  transform: translateY(-5px); /* رفع العنصر قليلاً عند المرور */
  border: #123 solid 1px;
}

.actions {
  display: flex;
  gap: 10px;
  flex-shrink: 0; /* مهم: يخلي الأزرار ما تتضغطش */
}

.TodoTitle {
  flex: 1; /* ياخد باقي المساحة */
  word-break: break-word; /* يكسر الكلام الطويل */
  overflow-wrap: anywhere; /* مهم للكلام الطويل جدًا */
}

.actions button {
  width: 50px;
  height: 50px;
  /* padding: 10px; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: large;
}
.actions button:hover {
  background-color: #707570;
  color: white;
}
.completed {
  /* text-decoration: line-through; */
  color: white;
  background-color: #4caf50;
}
